[Unit]
Description=evkvm
After=network-online.target

[Service]
ExecStart=/opt/evkvm/evkvm
Restart=always
StateDirectory=evkvm

[Install]
WantedBy=multi-user.target
