[Unit]
Description=evkvm
After=network-online.target

[Service]
User=evkvm
ExecStart=/usr/bin/evkvm
Restart=always
StateDirectory=evkvm

[Install]
WantedBy=multi-user.target
